*{
  margin: 0;
  padding:0;
}
html{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  height:0 !important;
  width:0;
}
/*** this class is used to prevent the body from scrolling when a user is not on the home page ***/
.bodyNoScroll{
  margin: 0;
  height: 100%;
  overflow: hidden
}
a{
  /*** display needs to be set in order for transforms to work ***/
  display: inline-block;
  color:rgb(255, 255, 255) !important;
}
/*** Disables the blue box around the button on click ***/
button:focus{
  outline:0;
}
h1{
  font-family: 'Montserrat', sans-serif !important;

}
h1 > span{
  color: #ff1144;
}
hr{
  border-top: 3px solid #ff1144;
}
p{
  font-family: 'Palanquin', sans-serif !important;
}
/*** Main Container sets the height of the entire app.
Inner Main Container holds all the divs and always remains in
the clients view ***/
.mainContainer{
  position: relative;
  width: 100%;
}
/*** the pro id are styled this way to give us the ability to use the a tag scroll
feature associated with scrolling. Users can use the Index to scroll to projects with these styles***/
#pro1{
  height:100vh;
}
#pro2{
  height:100vh;
}
#pro3{
  height:100vh;
}
#pro4{
  height:100vh;
}

.innerMainContainer{
  position: fixed;
  display: flex;
  width:100%;
  height: 100vh;
  right:50%;
}




/*** Left side styles ***/
/*** Left Container deals with all the html styles
on the left side of the screen ***/
.leftContainer{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width:100vw;
  height: 100vh;
  background:pink;
}
.wrapL{
  position: relative;
  z-index: 800;
  padding:5%;
  background-color: rgb(255,255,255);
  width:50vw;
  height: inherit;
  /*** centers the home styles ***/
  display: flex;
  align-items: center;
}

/*** Scroll Fill handles the psuedo scroll bar ***/
.scrollFill{
  position: absolute;
  right:0%;
  /*** Top is defined so it's parent's flex doesn't
  center it vertically ***/
  top: 0% !important;
  z-index: 800;
  width:1%;
}

/*** styles the content on the home page ***/
.home{
  position: relative; 
}
.homeSp{
  color:rgb(200,80,80);
  vertical-align: 40%;
}
.name h1{
  font-size: 3.5rem;
}

/****** Styles for the index page ******/
.index{
  position: absolute;
  z-index: 799;
  height:100vh;
  width: 50%;
  background-color: rgb(40,40,40);
  transition: .2s ease;
}
.index ul{
  list-style: none;
}
.indexButton{
  color:white;
  background-color: rgb(0,0,0,0);
  font-size: 2rem;
  border:0;
  transition: .15s linear;
  font-family: inherit;
}
.indexButton:hover{
  font-weight: 900;
  transform:translateX(2%);
}
.index li{
  position: relative;
  display: block;
  width: 90%;
  padding:200px 0 0 25px;
}

.index li::after{
  content: '';
  background-color: white;
  height:2px;
  width: 100%;
  display: block;
  position: absolute;
  margin-top:2%;
}

/****** Nav Styles *******/
.nav{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 80%;
  bottom: 2.5%;
}
.navButton{
  position: relative;
  z-index: 999;
  padding:1%;
  color:black;
  background-color: rgb(0,0,0,0);
  font-size: 2rem;
  transition: .1s linear;
  transform-origin: center;
  border:0;
  font-family: inherit;
}
.navButton:hover{
  cursor: pointer;
}
.navButton > span::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0%;
  background-color: #ff1144;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.navButton > span:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*** styles the little black lines in center of page ***/
.scrollList{
  position: absolute;
  list-style-type: none;
  right: 0;
  width: 1%;
  height: 100%;
  z-index: 801;
}
.scrollList li{
  height: 25%;
  border-bottom: solid black thin;
}
/*** about is the only style for navigation ***/
.about{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  padding: 5%;
  background-color: rgb(40,40,40);
  width:50vw;
  height: inherit;
  color:rgb(255,255,255);
}
.aboutText{
  font-size: 1.6rem;
  width:70%;
  width: 100%;
}
.aboutText h2{
  font-size: calc(.5rem + 2rem);
}
.aboutText > h2 span, p > span{
  color:#ff1144;
}






/*** Right side styles ***/

/*** Right Container deals with all the html styles
on the Right side of the screen ***/
.rightContainer{
  background-color: rgb(255,255,255);
  display: flex;
  width: 100vw;
}
/**** Button styles ****/
.toggleSlide{
  position:fixed;
  top:50%;
  z-index: 798;
  border-radius: 50%;
  margin-left:6%;
  padding:1%;
  color:white;
  background-color: #ff1144;
  cursor: pointer;
  font-size: 36px;
  transition: .2s linear;
  transform-origin: center;
  border:0;
  font-family: inherit;
}
.toggleSlide:hover{
  transform: scale(1.2);
}
.wrapR{
  background-color: purple;
  width:50vw;
  height: inherit;
  transition: .3s ease-in-out;
}
/*** setting the background-image to each child of wrapR ***/
.wrapR > div{
  background: 35%/ cover no-repeat url(./ScreenShots/capstonelandingimg.png);
  height: 100vh;
}
.wrapR > div ~ div{
  background: center / cover no-repeat url(./ScreenShots/deckbuild.png);
  height: 100vh;
}
.wrapR > div ~ div ~ div{
  background: center / cover no-repeat url(./ScreenShots/tomagatchicover.png);
  height: 100vh;
}
.wrapR > div ~ div ~ div ~ div{
  background: center / cover no-repeat url(./ScreenShots/gamejquerycover.png);
  height: 100vh;
}
/*** Portfolio styles ***/
.portfolio{
  position: relative;
  width:50vw;
  height: 100vh;
  font-size: 1.5rem;
}
.portfolio img{
  position: relative;
  z-index: 898;
  margin-top: 10%;
  width:100%;
  height:35%;
  transition: .3s ease-in-out;
  transform-origin: center;
}
.portfolio img:hover{
  z-index: 999;
  transform: scale(1.5);
  box-shadow: 0 6px 6px rgba(0,0,0,.5);
}
.portInfo:nth-child(1) {
  padding-top: 50%;
}
.portInfo:last-child{
  padding-top: 50%;
}
/*** style everything in the portfolio ***/
.portInfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15%;
  overflow-y:scroll;
  height: 100vh;
}

.portInfo::-webkit-scrollbar{
  height:0 !important;
  width:0;
}
.portInfo figcaption{
  opacity: .5;
  text-align: right;
}
/**** introText styles all the texxt inside the intro box ****/
.introText{
  display:flex;
  justify-content: center;
  padding:5%;
  text-align: justify;
  font-size: 24px;
  line-height: 125%;
  border: thin maroon solid;
  height: 50%;
  width: 50%;
}

