/*** NOTE: ONLY THE MENU BUTTON CAN HAVE A Z-INDEX OF 1000!
If any other style has a higher order than that, the menu button
will not work ***/
*{
  margin: 0;
  padding:0;
}
html{
  scroll-behavior: smooth;
}
.wrapL a{
  color: white;
  text-decoration: none;
  padding: 2%;
  font-size: 1.5rem;
}
body{ 
}
.mainContainer{
  position: relative;
  background-color:yellow;
  right: 50%;
  display: flex;
  height: 100vh;
  width: 200%;
  overflow: hidden;
}
.moveL{
  transform: translate3d(25%, 0, 0);
}
.moveR{
  transform: translate3d(0%, 0, 0);
}
.wrapL{
  position: relative;
  background-color: pink;
  width:50%;
}
.nav{
  background-color:red;
  display: flex;
  width: 100%;
  bottom: 0;
}
.wrapR{
  background-color: purple;
  width:50%;
}
.about{
  background-color: green;
  width:50%;
}
.port{  background-color: silver;
  width:50%;
}
/**** introText styles all the texxt inside the intro box ****/
.introText{
  display:flex;
  justify-content: center;
  padding:5%;
  text-align: justify;
  font-size: 24px;
  line-height: 125%;
  border: thin maroon solid;
  height: 50%;
  width: 50%;
}
/**** Button logic ****/
.toggleSlide{
  position:absolute;
  top:50%;
  z-index: 999;
  border-radius: 50%;
  margin-left:2%;
  padding:1%;
  color:white;
  background-color: maroon;
  cursor: pointer;
  font-size: 36px;
  transition: .1s linear;
  transform-origin: center;
  border:0;
  font-family: inherit;
}
button:focus{
  outline:0;
}
.toggleSlide:hover{
  transform: scale(1.05);
  box-shadow: 0px 1px 1.5px 0px rgba(0,0,0,1)
}
.toggleSlide:active{
  transform: scale(1);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0)
}