*{
  margin: 0;
  padding:0;
}
html{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  height:0 !important;
  width:0;
} 
/*** Main Container sets the height of the entire app.
Inner Main Container holds all the divs and always remains in
the clients view ***/
.mainContainer{
  position: relative;
  width: 100%;
  height:200vh;
}
.innerMainContainer{
  position: fixed;
  display: flex;
  width:100%;
  height: 100vh;
  right:50%;
}
/*** Left side styles ***/
/*** Left Container deals with all the html styles
on the left side of the screen ***/
.leftContainer{
  display: flex;
  flex-direction: row-reverse;
  width:100vw;
  height: 100vh;
  background:pink;
}
.wrapL{
  position: relative;
  background-color: rgb(255,255,255);
  width:50vw;
  height: inherit;
}
.nav{
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
}
/*** about is the only style for navigation ***/
.about{
  position: relative;
  background-color: green;
  width:50vw;
  height: inherit;
}
a{
  color: rgb(0,0,0);
  text-decoration: none;
  padding: 2%;
  font-size: 1.5rem;
}
a:visited{
  color:rgb(0,0,0);
}

/*** Right side styles ***/
/*** Right Container deals with all the html styles
on the Right side of the screen ***/
.rightContainer{
  background:red;
  display: flex;
}
.wrapR{
  background-color: purple;
  width:50vw;
  height: inherit;
}
.wrapR img{
  display: block;
  width:100%;
  height:100%;
  scroll-snap-align:center;
  filter: grayscale(1);
}
.portfolio{
  position: relative;
  background-color: blue;
  width:50vh;
  height: inherit;
}

/**** introText styles all the texxt inside the intro box ****/
.introText{
  display:flex;
  justify-content: center;
  padding:5%;
  text-align: justify;
  font-size: 24px;
  line-height: 125%;
  border: thin maroon solid;
  height: 50%;
  width: 50%;
}
/**** Button styles ****/
.toggleSlide{
  position:fixed;
  top:50%;
  z-index: 999;
  border-radius: 50%;
  margin-left:2%;
  padding:1%;
  color:white;
  background-color: maroon;
  cursor: pointer;
  font-size: 36px;
  transition: .1s linear;
  transform-origin: center;
  border:0;
  font-family: inherit;
}
/*** Disables the blue box around the button on click ***/
button:focus{
  outline:0;
}
.scrollList{
  position: absolute;
  list-style-type: none;
  right: 0;
  width: 1%;
  height: 100%;
  z-index: 801;
}
.scrollList li{
  height:10%;
  border-bottom: solid black thin;
}

/*** Scroll Fill handles the psuedo scroll bar ***/
.scrollFill{
  position: absolute;
  right:0%;
  z-index: 999;
  width:1%;
}